@font-face {
  font-family: "unifont";
  src: url("../fonts/unifont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fefefe;
  background-color: #0a0b11;
  display: flex;
  min-height: 100vh;
  font-family: "unifont", "Lucida Console", monospace, Monaco;
}

.sidebar {
  width: 25%;
  flex-shrink: 0;
}

.sidebar.left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: left;
}

.sidebar.right {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: right;
}

.content {
  margin: 0 25% 0 25%;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.content h1 {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.ascii-art {
  line-height: 1;
}

a {
  color: #93ffd7;
  text-decoration: none;
}

code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: black;
  color: white;
  font-family: inherit;
}
